<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content th:fragment="content">
    <h2 class="text-left" th:text="'Deploy the bot'"></h2>
    <div class="grid-x">
        <div class="cell small-8"
             th:if="${dataImported}">
            <form th:action="@{/bodi-generator/deploy_bot/download_bot_zip}"
                  method="POST">
                <div class="cell small-4">
                    <input type="submit" class="button" value="Download bot as zip file">
                </div>
            </form>
        </div>
        <div class="grid-x callout cell auto"
             th:if="${!dataImported}">
            <div class="cell small-1 logo blue">
                <i class="fas fa-info-circle"></i>
            </div>
            <div class="cell small-11 content">
                <p>You need to import data to create a bot.</p>
            </div>
        </div>
    </div>
</div>
