<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content th:fragment="content">
    <h2 class="text-left" th:text="'Properties'"></h2>
    <div class="grid-x">
        <ul class="tabs cell auto" data-tabs id="installation-tabs">
            <li class="tabs-title is-active"><a href="#general" aria-selected="true">General</a></li>
            <li class="tabs-title"><a data-tabs-target="intent_provider" href="#intent_provider">Intent provider</a></li>
            <li class="tabs-title"><a data-tabs-target="database" href="#database">Database</a></li>
            <li class="tabs-title"><a data-tabs-target="nlp_server" href="#nlp_server">NLP Server</a></li>
            <li class="tabs-title"><a data-tabs-target="open_data" href="#open_data">Open data</a></li>
        </ul>
    </div>
    <br>
    <div class="grid-x">
        <div class="tabs-content cell auto" data-tabs-content="installation-tabs"
            th:if="${properties != null}">
            <div class="tabs-panel is-active" id="general">
                <form th:object="${properties}"
                      th:action="@{/bodi-generator/properties/store_properties_general}"
                      th:with="BotProperties=${T(com.xatkit.bot.library.BotProperties)},
                               BodiGeneratorProperties=${T(bodi.generator.dataSchema.BodiGeneratorProperties)}"
                      method="POST">
                    <div class="grid-x">
                        <div class="cell small-6">
                            <!-- BODI-GENERATOR.PROPERTIES -->
                            <h4>BODI Generator properties</h4>
                            <label th:for="${BodiGeneratorProperties.BOT_NAME}"
                                   th:text="${BodiGeneratorProperties.BOT_NAME}"></label>
                            <input th:id="${BodiGeneratorProperties.BOT_NAME}" type="text"
                                   th:field="*{bodiGeneratorProperties['__${BodiGeneratorProperties.BOT_NAME}__']}">
                            <label th:for="${BodiGeneratorProperties.ENABLE_TESTING}"
                                   th:text="${BodiGeneratorProperties.ENABLE_TESTING}"></label>
                            <select th:id="${BodiGeneratorProperties.ENABLE_TESTING}"
                                    th:field="*{bodiGeneratorProperties['__${BodiGeneratorProperties.ENABLE_TESTING}__']}">
                                <option th:value="true">Yes</option>
                                <option th:value="false">No</option>
                            </select>
                            <!-- BOT.PROPERTIES -->
                            <h4>Bot properties</h4>
                            <label th:for="${BotProperties.XATKIT_SERVER_PORT}"
                                   th:text="${BotProperties.XATKIT_SERVER_PORT}"></label>
                            <input th:id="${BotProperties.XATKIT_SERVER_PORT}" type="number"
                                   th:field="*{botProperties['__${BotProperties.XATKIT_SERVER_PORT}__']}">
                            <label th:for="${BotProperties.XATKIT_REACT_PORT}"
                                   th:text="${BotProperties.XATKIT_REACT_PORT}"></label>
                            <input th:id="${BotProperties.XATKIT_REACT_PORT}" type="number"
                                   th:field="*{botProperties['__${BotProperties.XATKIT_REACT_PORT}__']}">
                            <label th:for="${BotProperties.BOT_LANGUAGE}"
                                   th:text="${BotProperties.BOT_LANGUAGE}"></label>
                            <select th:id="${BotProperties.BOT_LANGUAGE}"
                                    th:field="*{botProperties['__${BotProperties.BOT_LANGUAGE}__']}">
                                <option th:value="'en'">English</option>
                                <option th:value="'ca'">Catalan</option>
                                <option th:value="'es'">Spanish</option>
                            </select>
                            <label th:for="${BotProperties.BOT_PAGE_LIMIT}"
                                   th:text="${BotProperties.BOT_PAGE_LIMIT}"></label>
                            <input th:id="${BotProperties.BOT_PAGE_LIMIT}" type="number"
                                   th:field="*{botProperties['__${BotProperties.BOT_PAGE_LIMIT}__']}">
                            <label th:for="${BotProperties.BOT_MAX_ENTRIES_TO_DISPLAY}"
                                   th:text="${BotProperties.BOT_MAX_ENTRIES_TO_DISPLAY}"></label>
                            <input th:id="${BotProperties.BOT_MAX_ENTRIES_TO_DISPLAY}" type="number"
                                   th:field="*{botProperties['__${BotProperties.BOT_MAX_ENTRIES_TO_DISPLAY}__']}">
                            <label th:for="${BotProperties.BOT_ENABLE_CHECK_CORRECT_ANSWER}"
                                   th:text="${BotProperties.BOT_ENABLE_CHECK_CORRECT_ANSWER}"></label>
                            <select th:id="${BotProperties.BOT_ENABLE_CHECK_CORRECT_ANSWER}"
                                    th:field="*{botProperties['__${BotProperties.BOT_ENABLE_CHECK_CORRECT_ANSWER}__']}">
                                <option th:value="true">Yes</option>
                                <option th:value="false">No</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="button" onclick="return confirm('Are you sure you want to save the changes?')">Save changes</button>
                </form>
            </div>
            <div class="tabs-panel" id="intent_provider">
                <form th:object="${properties}"
                      th:action="@{/bodi-generator/properties/set_intent_provider}"
                      th:with="BodiGeneratorProperties=${T(bodi.generator.dataSchema.BodiGeneratorProperties)}"
                      method="POST">
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-4">
                            <h4>Intent provider</h4>
                            <select th:id="${BodiGeneratorProperties.XATKIT_INTENT_PROVIDER}"
                                    th:field="*{bodiGeneratorProperties['__${BodiGeneratorProperties.XATKIT_INTENT_PROVIDER}__']}">
                                <option th:value="''">-</option>
                                <option th:value="'com.xatkit.core.recognition.dialogflow.DialogFlowIntentRecognitionProvider'">DialogFlow</option>
                                <option th:value="'com.xatkit.core.recognition.nlpjs.NlpjsIntentRecognitionProvider'">NLP.js</option>
                            </select>
                        </div>
                        <div class="cell small-4 align-self-bottom">
                            <button type="submit" class="button">Change intent provider</button>
                        </div>
                    </div>
                </form>
                <form th:object="${properties}"
                      th:action="@{/bodi-generator/properties/store_properties_intent_provider}"
                      th:with="BotProperties=${T(com.xatkit.bot.library.BotProperties)}"
                      method="POST">
                    <div class="grid-x">
                        <div class="cell small-6"
                             th:if="${properties.botProperties['__${BotProperties.XATKIT_INTENT_PROVIDER}__']} == 'com.xatkit.core.recognition.dialogflow.DialogFlowIntentRecognitionProvider'">
                            <h4>DialogFlow</h4>
                            <label th:for="${BotProperties.XATKIT_DIALOGFLOW_PROJECT_ID}"
                                   th:text="${BotProperties.XATKIT_DIALOGFLOW_PROJECT_ID}"></label>
                            <input th:id="${BotProperties.XATKIT_DIALOGFLOW_PROJECT_ID}" type="text"
                                   th:field="*{botProperties['__${BotProperties.XATKIT_DIALOGFLOW_PROJECT_ID}__']}">
                            <label th:for="${BotProperties.XATKIT_DIALOGFLOW_CREDENTIALS_PATH}"
                                   th:text="${BotProperties.XATKIT_DIALOGFLOW_CREDENTIALS_PATH}"></label>
                            <input th:id="${BotProperties.XATKIT_DIALOGFLOW_CREDENTIALS_PATH}" type="text"
                                   th:field="*{botProperties['__${BotProperties.XATKIT_DIALOGFLOW_CREDENTIALS_PATH}__']}">
                            <label th:for="${BotProperties.XATKIT_DIALOGFLOW_LANGUAGE}"
                                   th:text="${BotProperties.XATKIT_DIALOGFLOW_LANGUAGE}"></label>
                            <select th:id="${BotProperties.XATKIT_DIALOGFLOW_LANGUAGE}"
                                    th:field="*{botProperties['__${BotProperties.XATKIT_DIALOGFLOW_LANGUAGE}__']}">
                                <option th:value="'en'">English</option>
                                <option th:value="'ca'">Catalan</option>
                                <option th:value="'es'">Spanish</option>
                            </select>
                            <!--
                            <div class="switch large">
                                <input class="switch-input"
                                       th:id="${BotProperties.XATKIT_DIALOGFLOW_CLEAN_ON_STARTUP}"
                                       type="checkbox"
                                       th:field="*{botProperties['__${BotProperties.XATKIT_DIALOGFLOW_CLEAN_ON_STARTUP}__']}">
                                <label class="switch-paddle"
                                       th:for="${BotProperties.XATKIT_DIALOGFLOW_CLEAN_ON_STARTUP}">
                                    <span class="switch-active" aria-hidden="true">Yes</span>
                                    <span class="switch-inactive" aria-hidden="true">No</span>
                                </label>
                            </div>
                            -->
                            <label th:for="${BotProperties.XATKIT_DIALOGFLOW_CLEAN_ON_STARTUP}"
                                   th:text="${BotProperties.XATKIT_DIALOGFLOW_CLEAN_ON_STARTUP}"></label>
                            <select th:id="${BotProperties.XATKIT_DIALOGFLOW_CLEAN_ON_STARTUP}"
                                    th:field="*{botProperties['__${BotProperties.XATKIT_DIALOGFLOW_CLEAN_ON_STARTUP}__']}">
                                <option th:value="true">Yes</option>
                                <option th:value="false">No</option>
                            </select>
                        </div>
                        <div class="cell small-8"
                             th:if="${properties.botProperties['__${BotProperties.XATKIT_INTENT_PROVIDER}__']} == 'com.xatkit.core.recognition.nlpjs.NlpjsIntentRecognitionProvider'">
                            <h2>NLP.js</h2>
                            <label th:for="${BotProperties.XATKIT_NLPJS_AGENTID}"
                                   th:text="${BotProperties.XATKIT_NLPJS_AGENTID}"></label>
                            <input th:id="${BotProperties.XATKIT_NLPJS_AGENTID}" type="text"
                                   th:field="*{botProperties['__${BotProperties.XATKIT_NLPJS_AGENTID}__']}">
                            <label th:for="${BotProperties.XATKIT_NLPJS_LANGUAGE}"
                                   th:text="${BotProperties.XATKIT_NLPJS_LANGUAGE}"></label>
                            <select th:id="${BotProperties.XATKIT_NLPJS_LANGUAGE}"
                                    th:field="*{botProperties['__${BotProperties.XATKIT_NLPJS_LANGUAGE}__']}">
                                <option th:value="'en'">English</option>
                                <option th:value="'ca'">Catalan</option>
                                <option th:value="'es'">Spanish</option>
                            </select>
                            <label th:for="${BotProperties.XATKIT_NLPJS_SERVER}"
                                   th:text="${BotProperties.XATKIT_NLPJS_SERVER}"></label>
                            <input th:id="${BotProperties.XATKIT_NLPJS_SERVER}" type="text"
                                   th:field="*{botProperties['__${BotProperties.XATKIT_NLPJS_SERVER}__']}">
                        </div>
                    </div>
                    <button type="submit" class="button" onclick="return confirm('Are you sure you want to save the changes?')">Save changes</button>
                </form>
            </div>
            <div class="tabs-panel" id="database">
                <form th:object="${properties}"
                      th:action="@{/bodi-generator/properties/set_database}"
                      th:with="BodiGeneratorProperties=${T(bodi.generator.dataSchema.BodiGeneratorProperties)}"
                      method="POST">
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-4">
                            <h4>Database</h4>
                            <select th:id="${BodiGeneratorProperties.XATKIT_LOGS_DATABASE}"
                                    th:field="*{bodiGeneratorProperties['__${BodiGeneratorProperties.XATKIT_LOGS_DATABASE}__']}">
                                <option th:value="''">-</option>
                                <option th:value="'com.xatkit.core.recognition.RecognitionMonitorPostgreSQL'">PostgreSQL</option>
                            </select>
                        </div>
                        <div class="cell small-4 align-self-bottom">
                            <button type="submit" class="button">Change database</button>
                        </div>
                    </div>
                </form>
                <form th:object="${properties}"
                      th:action="@{/bodi-generator/properties/store_properties_database}"
                      th:with="BotProperties=${T(com.xatkit.bot.library.BotProperties)}"
                      method="POST">
                    <div class="grid-x">
                        <div class="cell small-6"
                             th:if="${properties.botProperties['__${BotProperties.XATKIT_LOGS_DATABASE}__']} == 'com.xatkit.core.recognition.RecognitionMonitorPostgreSQL'">
                            <h4>PostgreSQL</h4>
                            <label th:for="${BotProperties.XATKIT_RECOGNITION_ENABLE_MONITORING}"
                                   th:text="${BotProperties.XATKIT_RECOGNITION_ENABLE_MONITORING}"></label>
                            <select th:id="${BotProperties.XATKIT_RECOGNITION_ENABLE_MONITORING}"
                                    th:field="*{botProperties['__${BotProperties.XATKIT_RECOGNITION_ENABLE_MONITORING}__']}">
                                <option th:value="true">Yes</option>
                                <option th:value="false">No</option>
                            </select>
                            <label th:for="${BotProperties.XATKIT_POSTGRESQL_URL}"
                                   th:text="${BotProperties.XATKIT_POSTGRESQL_URL}"></label>
                            <input th:id="${BotProperties.XATKIT_POSTGRESQL_URL}" type="text"
                                   th:field="*{botProperties['__${BotProperties.XATKIT_POSTGRESQL_URL}__']}">
                            <label th:for="${BotProperties.XATKIT_POSTGRESQL_USER}"
                                   th:text="${BotProperties.XATKIT_POSTGRESQL_USER}"></label>
                            <input th:id="${BotProperties.XATKIT_POSTGRESQL_USER}" type="text"
                                   th:field="*{botProperties['__${BotProperties.XATKIT_POSTGRESQL_USER}__']}">
                            <label th:for="${BotProperties.XATKIT_POSTGRESQL_PASSWORD}"
                                   th:text="${BotProperties.XATKIT_POSTGRESQL_PASSWORD}"></label>
                            <input th:id="${BotProperties.XATKIT_POSTGRESQL_PASSWORD}" type="text"
                                   th:field="*{botProperties['__${BotProperties.XATKIT_POSTGRESQL_PASSWORD}__']}">
                            <label th:for="${BotProperties.XATKIT_POSTGRESQL_BOT_ID}"
                                   th:text="${BotProperties.XATKIT_POSTGRESQL_BOT_ID}"></label>
                            <input th:id="${BotProperties.XATKIT_POSTGRESQL_BOT_ID}" type="number"
                                   th:field="*{botProperties['__${BotProperties.XATKIT_POSTGRESQL_BOT_ID}__']}">
                        </div>
                    </div>
                    <button type="submit" class="button" onclick="return confirm('Are you sure you want to save the changes?')">Save changes</button>
                </form>
            </div>
            <div class="tabs-panel" id="nlp_server">
                <form th:object="${properties}"
                      th:action="@{/bodi-generator/properties/store_properties_nlp_server}"
                      th:with="BotProperties=${T(com.xatkit.bot.library.BotProperties)}"
                      method="POST">
                    <div class="grid-x">
                        <div class="cell small-6">
                            <h4>NLP Server</h4>
                            <label th:for="${BotProperties.SERVER_URL}"
                                   th:text="${BotProperties.SERVER_URL}"></label>
                            <input th:id="${BotProperties.SERVER_URL}" type="text"
                                   th:field="*{botProperties['__${BotProperties.SERVER_URL}__']}">
                            <label th:for="${BotProperties.TEXT_TO_TABLE_ENDPOINT}"
                                   th:text="${BotProperties.TEXT_TO_TABLE_ENDPOINT}"></label>
                            <input th:id="${BotProperties.TEXT_TO_TABLE_ENDPOINT}" type="text"
                                   th:field="*{botProperties['__${BotProperties.TEXT_TO_TABLE_ENDPOINT}__']}">
                        </div>
                    </div>
                    <button type="submit" class="button" onclick="return confirm('Are you sure you want to save the changes?')">Save changes</button>
                </form>
            </div>
            <div class="tabs-panel" id="open_data">
                <form th:object="${properties}"
                      th:action="@{/bodi-generator/properties/store_properties_open_data}"
                      th:with="BotProperties=${T(com.xatkit.bot.library.BotProperties)}"
                      method="POST">
                    <div class="grid-x">
                        <div class="cell small-6">
                            <h4>Open data</h4>
                            <label th:for="${BotProperties.BOT_ODATA_TITLE_EN}"
                                   th:text="${BotProperties.BOT_ODATA_TITLE_EN}"></label>
                            <input th:id="${BotProperties.BOT_ODATA_TITLE_EN}" type="text"
                                   th:field="*{botProperties['__${BotProperties.BOT_ODATA_TITLE_EN}__']}">
                            <label th:for="${BotProperties.BOT_ODATA_TITLE_CA}"
                                   th:text="${BotProperties.BOT_ODATA_TITLE_CA}"></label>
                            <input th:id="${BotProperties.BOT_ODATA_TITLE_CA}" type="text"
                                   th:field="*{botProperties['__${BotProperties.BOT_ODATA_TITLE_CA}__']}">
                            <label th:for="${BotProperties.BOT_ODATA_TITLE_ES}"
                                   th:text="${BotProperties.BOT_ODATA_TITLE_ES}"></label>
                            <input th:id="${BotProperties.BOT_ODATA_TITLE_ES}" type="text"
                                   th:field="*{botProperties['__${BotProperties.BOT_ODATA_TITLE_ES}__']}">
                            <label th:for="${BotProperties.BOT_ODATA_URL_EN}"
                                   th:text="${BotProperties.BOT_ODATA_URL_EN}"></label>
                            <input th:id="${BotProperties.BOT_ODATA_URL_EN}" type="text"
                                   th:field="*{botProperties['__${BotProperties.BOT_ODATA_URL_EN}__']}">
                            <label th:for="${BotProperties.BOT_ODATA_URL_CA}"
                                   th:text="${BotProperties.BOT_ODATA_URL_CA}"></label>
                            <input th:id="${BotProperties.BOT_ODATA_URL_CA}" type="text"
                                   th:field="*{botProperties['__${BotProperties.BOT_ODATA_URL_CA}__']}">
                            <label th:for="${BotProperties.BOT_ODATA_URL_ES}"
                                   th:text="${BotProperties.BOT_ODATA_URL_ES}"></label>
                            <input th:id="${BotProperties.BOT_ODATA_URL_ES}" type="text"
                                   th:field="*{botProperties['__${BotProperties.BOT_ODATA_URL_ES}__']}">
                        </div>
                    </div>
                    <button type="submit" class="button" onclick="return confirm('Are you sure you want to save the changes?')">Save changes</button>
                </form>
            </div>
        </div>
        <div class="grid-x callout cell auto"
             th:if="${properties == null}">
            <div class="cell small-1 logo blue">
                <i class="fas fa-info-circle"></i>
            </div>
            <div class="cell small-11 content">
                <p>You need to import data to configure the bot properties.</p>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var elem = new Foundation.Tabs($("#installation-tabs"));
        });
    </script>
</div>
</html>
