<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<!--/*@thymesVar id="dataImported" type="boolean"*/-->
<div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content th:fragment="content">
    <h2 class="text-left" th:text="'Load / Download a session'"></h2>
    <div class="grid-x">

        <div class="cell small-8">
            <form th:action="@{/bodi-generator/session/load}"
                  enctype="multipart/form-data"
                  method="POST">
                <div class="cell small-4">
                    <input type="file" name="file">
                    <input type="submit" class="button" value="Load"/>
                </div>
            </form>
        </div>

        <div class="cell small-8"
             th:if="${dataImported}">
            <form th:action="@{/bodi-generator/session/download}"
                  method="POST">
                <div class="cell small-4">
                    <input type="submit" class="button" value="Download current session">
                </div>
            </form>
        </div>
    </div>
</div>